.navegacion {
    background-color: #a4c3b2;
    
}
.link-nav{
    color: #354f52!important;
    
}
.search{
    background: #52796f;
}
.search:hover{
    background: #354f52;
}
.marca-titulo{
    color: #354f52;
}
.marca-titulo:hover{
    color: #52796f;
}